@charset "UTF-8";

body{
   background: url(imagem/fundo2.webp);
   background-size: cover;
   
   height: 50vw;
   
}
h1{
    text-align: center;
    color: white;
    font-size: 20pt;
    margin-top: 4px;
}
section{
    background-color: rgba(245, 245, 245, 0.596);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    width: 400px;
    margin: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.747);
}
.ano{
    width: 60px;
}
#res{
   
    text-align: center;
    
}

footer{
    text-align: center;
    color: rgb(201, 201, 201);
   
}